.reveal section[data-state="title"] h1 {
  font-size: 2em;
}

.reveal section[data-state="white-font"] h2 {
  color: white;
}

.reveal section[data-state="red-font"] h2 {
  color: #5a2a2a;
}

.underline {
  text-decoration: underline;
  color: yellow;
}