.reveal section[data-state="title"] h1 {
    font-size: 2em;
}

.left-box {
    color: white;
    background: rgba(25, 25, 25, .4);
    border-radius: 20px;
    margin-left: -1em;
    margin-right: 7em;
}

.reveal section[data-state="right-box"] h2 {
    color: white;
    background: rgba(25, 25, 25, .4);
    padding-top: 20px;
    border-radius: 20px;
    margin-left: 3em;
    margin-right: -3em;
}

.reveal section[data-state="red-font"] h2 {
    color: #5a2a2a;
}

.underline {
    text-decoration: underline;
    color: yellow;
}